.root {
    -fx-focus-color: #d3d3d3;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #1E1E1E;
}

.linkTextField {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #d3d3d3;
}
.linkTextField:focused {
    -fx-background-color: #f0f0f0;
}

.text-field:error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}
/*
.anotherOne {
    -fx-border-width: 1px;
    -fx-border-color: #ef4d4d;
    -fx-cursor: hand;
}

.anotherOne:hover {
    -fx-background-color: rgba(239, 77, 77, 0.2);
}
*/
.downloadButton {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #d3d3d3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 1, 0, 0, 0);
    -fx-cursor: hand;
}
.downloadButton:hover {
    -fx-background-color: #f0f0f0;
}